/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --primary-color: #3882F6;
    --secondary-color: #1F2937;
    --tertiary-color: #F9FAF8;
    --alt-color: #E5E7EB;
    --container-width: 960px;
    --container-alt-width: 800px;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* container */
.section-container {
    max-width: var(--container-width);
    margin: 0 auto;
}

/* section paddings */
header {
    padding: 16px 0;
}
.hero {
    padding: 80px 0;
}
.info {
    padding: 42px 0 80px;
}
.quote {
    padding: 98px 0 64px;
}
.newsletter {
    padding: 64px 0;
}
footer {
    padding: 32px 0;
}

header, footer, .hero {
    background-color: var(--secondary-color);
}

header .section-container {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: var(--tertiary-color);
    font-weight: 600;
}

.main-nav ul {
    display: flex;
    column-gap: 24px;
}

.main-nav ul li a {
    font-size: 18px;
    color: var(--alt-color);
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.hero .section-container {
    display: flex;
    column-gap: 40px;
}

.hero-image {
    max-width: 50%;
    width: 100%;
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--tertiary-color);
    margin-bottom: 8px;
}

.hero-content p {
    font-size: 18px;
    color: var(--alt-color);
    margin-bottom: 16px;
}

.btn {
    font-weight: bold;
    font-size: 14px;
    padding: 4px 24px;
    border-radius: 4px;
    color: var(--tertiary-color);
    cursor: pointer;
}

.btn.main {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn.ghost {
    background-color: transparent;
    border: 1px solid var(--tertiary-color);
}

.btn.ghost:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.info .section-container {
    max-width: var(--container-alt-width);
}

.info h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.info-cards {
    display: flex;
    column-gap: 32px;
}

.info-cards .card {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.info-cards .card .card-image {
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
}

.info-cards .card .card-text {
    text-align: center;
} 

.quote {
    background-color: var(--alt-color);
}

.quote .section-container {
    max-width: var(--container-alt-width);
}

.quote blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: var(--secondary-color);
    margin-bottom: 8px;
}

.quote figcaption {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}



.newsletter .content {
    background: var(--primary-color);
    color: var(--tertiary-color);
}

.newsletter .content h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.cta-wrapper {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 56px 80px;
}

footer p {
    color: var(--tertiary-color);
    text-align: center;
}